# Ignore everything outside of key folders
/*

# Allow Assets, ProjectSettings, and Packages
!Assets/
!ProjectSettings/
!Packages/

# Ensure Unity scenes and meta files are included
!Assets/**/*.unity
!Assets/**/*.meta
